@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400; 
  overflow-x: hidden;
} */


@keyframes slide {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-slide {
    animation: slide 10s linear infinite;
  }